
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin Controls</h1>
<table width="100%">
    <tr>
        <td><a asp-action="CreateRole">Create Role</a></td>
        <td><a asp-action="Assign">Assign Role</a></td>
    </tr>
    <tr>
        <td><a asp-action="CreateStatus">Create Status</a></td>
        <td><a asp-action="CreateType">Create Type</a></td>
    </tr>

</table>

