
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin Controls</h1>
<table width="100%">
    <tr>
        <td><a asp-action="Create">Create Role</a></td>
        <td><a asp-action="Assign">Assign Role</a></td>
    </tr>
</table>

