
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{       
    var role = "Anonymous";
    if (SignInManager.IsSignedIn(User)) {
        var UserAcc = await UserManager.FindByNameAsync(User.Identity.Name);
        var roleAcc = await UserManager.GetRolesAsync(UserAcc);
        role = roleAcc[0];
    }
}

<ul class="navbar-nav">

    @if (role.Equals("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
        </li>

    }

</ul>
