@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <img id="main-logo" src="~/images/assets/logo_transparent.png" />
    <h1 class="text-danger home-about">Error.</h1>
    <h2 class="text-danger home-about">An error occurred while processing your request.</h2>
    <p class="home-about">You think this is a mistake? Add a new Report! Our team will get on it right away :)</p>
</div>
