
@{
    ViewData["Title"] = "About";
}

<h1 class="header-title">About Us</h1>
<h2 class="primary-subheader">Our Story</h2>
<p class="paragraph">NEMESYS was founded in 2021 by Liam Gatt and Andrew Caruana as a hobby (definitely not an assignment) in their spare time as they had noticed a lot of dangerous contruction equipment often just laying around unattended. The thought then popped into their heads to create NEMESYS and became the website it is today.</p>

