@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img id="main-logo" src="~/images/assets/logo_transparent.png" />
    <p class="home-about">NEMESYS is a Hazard Detection and Awareness tool for people involved at the University Of Malta. Through this website one is able to report hazards found on campus which will then be investigated and dealt with appropriately.</p>
</div>
