@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="header-title">@ViewData["Title"]</h1>

<h2 class="primary-subheader">Your Privacy</h2>
<p class="paragraph">Your privacy is important to us. To better protect your privacy we provide this notice explaining our online information practices and the choices you can make about the way your information is collected and used. To make this notice easy to find, we make it available on our homepage and at every point where personally identifiable information may be requested.
</p>

<h2 class="subheader">Changes to this Privacy Statement</h2>
<p class="paragraph">
    The contents of this statement may be altered at any time, at our discretion.
</p>
