
.navbar .nav-item .dropdown-menu{ 
	display: none; 
}
	
.navbar .nav-item:hover .dropdown-menu{ 
	display: block;
	transition: all 3s ease-in;
	transform: translateY(1);
}

#nav-logo{
	width: 3rem;
	height: 3rem;
}

.navbar{
	height: 50px;
}


#user-btn{
	padding-top: 9px;
}


.dropdown{
	padding-top: 1px;
}



